body {
  max-width: 1600px;
  margin: 0 auto;
}
nav {
  width: 90%;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 30px auto;
}
nav ul a {
  text-decoration: none;
  color: black;
  margin-left: 5px;
  padding: 10px 20px;
}
nav ul a:hover {
  background-color: cadetblue;
  border-radius: 10px;
}
